@page "/viewData"
@using EmporiaBlazor.Data
@inject EmporiaApiService ApiService;

<h1>Usage Over Time</h1>

<p>Shows Emporia usage over a given time.</p>

@if (_usageList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date Time</th>
                <th>Usage in KW</th>
            </tr>
        </thead>
        <tbody>
        @{
               
                foreach (var usage in _usageList)
                {
                    <tr>
                        <td>@usage.UsageDate.ToString("G")</td>
                        <td>@(usage.UsageValue/1000)</td>
                    </tr>
                }
            }
            
        </tbody>
    </table>
}

@code {
    private List<EmporiaUsage> _usageList;

    protected override async Task OnInitializedAsync()
    {
        _usageList = await ApiService.GetUsageData("1H");
    }
}
